#worklog .background {
  height: calc(100vh);
  .container {
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    .middle {
      display: block;
      height: 400px;
      width: 400px;
      .Clock {
        font-size: 80px;
      }
      input[type="button"] {
        margin-top: 30px;
        height: 80px;
        width: 350px;
        border-radius: 30px;
        border: none;
        font-size: 26px;
        box-shadow: 0 4px 16px rgba(0, 79, 255, 0.3);
        background: #0080ff;
        color: #fff;
      }
      .Date {
        font-size: 50px;
      }
      .ot {
        font-size: 20px;
      }
    }
  }
}
