#sidemenu {
  width: 250px;
  height: 100%;
  top: 77px;
  left: 0;
  float: left;
  margin-right: 5px;
  border-right: 1px solid black;
  a {
    text-decoration: none;
  }
  .side {
    margin-left: 20px;
    margin-top: 20px;
    div {
      height: 30px;
      line-height: 30px;
    }
  }
}
