#RecipeList {
  margin-left: 251px;
  ul {
    list-style: none;
    li {
      float: left;
      width: 270px;
      margin: 0;
      padding-right: 30px;
      .img-area {
        img {
          width: 270px;
          height: 270px;
        }
      }
    }
  }
}
