#dashboard {
  margin-left: 251px;
  .allmenu {
    display: flex;
    .menul {
      flex-grow: 2;
      .menuevent {
        display: flex;
        .menu {
          flex-grow: 1;
        }
        .schedule {
          flex-grow: 2;
        }
      }
      .notice {
        height: 100px;
        box-shadow: 5px 5px lightgray;
        margin: 5px;
      }
    }
    .menur {
      flex-grow: 1;
      .profile {
        a {
          text-decoration: none;
        }
      }
      .worklist {
      }
    }
  }
}

#dashboard .menu,
.schedule {
  height: 700px;
}

#dashboard .profile,
.worklist {
  height: 402px;
}

#dashboard .menu,
.schedule,
.profile,
.worklist {
  margin: 5px;
  box-shadow: 5px 5px lightgray;
}

@media screen and (max-width: 1250px) {
  #dashboard {
    .allmenu {
      .menur {
        .profile {
          display: none !important;
        }
      }
    }
  }
}
